
.yourmessage:before{
    color: red;
    content: "Вы: ";
}
.othermessage:before{
    color: blue;
    content: "Соперник: ";
}
#invitelink {
    text-align: center;
}
#gamespace {
    width: 1250px;
    height: 1000px;
    margin: 0 auto;
    position: relative;;

}

#field {
	height: 900px;
	width: 860px;
  float: left;

}

#chat {
    width: 200px;
    height: 550px;
    float: right;
    overflow: auto;
}

.lostfigureframe {
  height: 50px;
	width: 50px;
  /*border: 1px solid black;*/
  display: inline-block;
  margin-top: -4px;
  background-size: 50px;
}
#lostfiguresblack {
	width: 160px;
  float: left;
}
#lostfigureswhite {
  margin-left: 10px;
	width: 160px;
  display: inline-block;
  position:absolute;
  bottom: 150px;
}
/**{
  border: 1px solid black;
}*/
.empty,.black,.white,.horizontframe,.verticalframe,.cornerframe {
	position: relative;
  border-radius: 0px;
  margin-top: -4px;
	display: inline-block;
	height: 100px;
	width: 100px;
  transition: all 0.5s ease;
  background-repeat:no-repeat;
  background-size:100px;

}
.framecolormyturn{
  background-color: #FFE4C4;
}
.framecolornotmyturn{
  background-color: #DCDCDA;
}
.framecolorcheck{
  background-color: #FF2400;
}
.cornerframe {
  height: 30px;
  width: 30px;
}
.horizontframe {
  line-height: 30px;
  height: 30px;
  text-align: center;
  vertical-align: top; /*чтобы не съезжал вниз при наличии текста*/
}
.verticalframe {
  line-height: 100px;
  width: 30px;
  text-align: center;
  vertical-align: top; /*чтобы не съезжал вниз при наличии текста*/
}
.black {
  	background-color: #A4A4A4;
}
.white {
  	/*background-color: #FA6900;*/
    background-color: white;
}
.selected {
  	box-shadow: inset 0 0 0 5px #f6fa35;
}
.previousTurnMarked {
  	box-shadow: inset 0 0 0 5px #8CCB5E;
}
.lostFigureMarked {
  	box-shadow: inset 0 0 0 4px #FFE4E1;
}
/*.empty:hover{
    box-shadow: inset 0 0 0 5px #f6fa35;
}*/
.pawn_w {
    background-image: url(img/w/pawn.png);
}
.bishop_w {
    background-image: url(img/w/bishop.png);
}
.knight_w {
    background-image: url(img/w/knight.png);
}
.queen_w {
    background-image: url(img/w/queen.png);
}
.king_w {
    background-image: url(img/w/king.png);
}
.rook_w {
    background-image: url(img/w/rook.png);
}

.pawn_b {
    background-image: url(img/b/pawn.png);
}
.bishop_b {
    background-image: url(img/b/bishop.png);
}
.knight_b {
    background-image: url(img/b/knight.png);
}
.queen_b {
    background-image: url(img/b/queen.png);
}
.king_b {
    background-image: url(img/b/king.png);
}
.rook_b {
    background-image: url(img/b/rook.png);
}
/*.x:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\2716";
    font-size: 70px;
    color: #FFF;
    line-height: 100px;
    text-align: center;
}
.o:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "\039f";
    font-family: "arial";
	font-size: 70px;
    color: #FFF;
    line-height: 100px;
    text-align: center;
}*/
